<nav>
	<div class="site-title">
		<a href="/"><h1>sfung</h1></a>
		<p>Node.js + MVC + PHP</p>
	</div>
	<ul>
		<li><a href="/blogs">All Blogs</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/blogs/create">Create New Blog</a></li>
	</ul>
</nav>
